.DS_Store
.idea/
config.json
dbestwarehouse/
*.pyc
resources/
dbestclient.egg-info/
build/
dist/
MNIST_data/
dbest.sublime-workspace
.vscode/
notebook/
experiments/results/
experiments/tpcds/groupby/groupby57.py